In [2]:
# Assign a value to the variables my_apples and my_oranges
my_apples <- 5
my_oranges <- 6

# Add these two variables together
my_apples + my_oranges

# Create the variable my_fruit
my_fruit <- my_apples + my_oranges

[1] 11

In [3]:
# Declare variables of different types
my_numeric <- 42
my_character <- "universe"
my_logical <- FALSE 

# Check class of my_numeric
class(my_numeric)

# Check class of my_character
class(my_character)

# Check class of my_logical
class(my_logical)

[1] "numeric"

[1] "character"

[1] "logical"

In [10]:
# Working with Vectors 
# We use c () to create vectors in R

a_vector = c(1, 2, "Any Value")

a_vector

b_vector = c(1,2,3)

b_vector

class(b_vector)
class(a_vector)

[1] "1"         "2"         "Any Value"

[1] 1 2 3

[1] "numeric"

[1] "character"

#### Assign names to vectors

In [14]:
# Poker winnings from Monday to Friday
poker_vector <- c(140, -50, 20, -120, 240)

# Roulette winnings from Monday to Friday
roulette_vector <- c(-24, -50, 100, -350, 10)

# Cerate a days vector
day_in_a_week <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")

# Assign days as names of poker_vector
names(poker_vector) <- day_in_a_week

# Assign days as names of roulette_vector
names(roulette_vector) <- day_in_a_week

poker_vector

roulette_vector

   Monday   Tuesday Wednesday  Thursday    Friday
      140       -50        20      -120       240

   Monday   Tuesday Wednesday  Thursday    Friday
      -24       -50       100      -350        10

###### Operations on Vectors

In [15]:
A_vector <- c(1, 2, 3)
B_vector <- c(4, 5, 6)

# Take the sum of A_vector and B_vector
total_vector <- A_vector + B_vector
  
# Print out total_vector
total_vector

[1] 5 7 9

In [17]:
# Poker and roulette winnings from Monday to Friday:
poker_vector <- c(140, -50, 20, -120, 240)
roulette_vector <- c(-24, -50, 100, -350, 10)
days_vector <- c("Monday", "Tuesday", "Wednesday", "Thursday", "Friday")
names(poker_vector) <- days_vector
names(roulette_vector) <- days_vector

# Assign to total_daily how much you won/lost on each day
total_daily <- poker_vector + roulette_vector
total_daily

   Monday   Tuesday Wednesday  Thursday    Friday
      116      -100       120      -470       250

In [18]:
# Total winnings with poker
total_poker <- sum(poker_vector)

# Total winnings with roulette
total_roulette <-  sum(roulette_vector)

# Total winnings overall
total_week <- total_poker + total_roulette

# Print out total_week
total_week

[1] -84

In [20]:
# Define a new variable based on a selection
poker_wednesday <- poker_vector[3]

poker_wednesday

Wednesday
       20

In [21]:
# Define a new variable based on a selection
poker_midweek <- poker_vector[c(2,3,4)]

poker_midweek

  Tuesday Wednesday  Thursday
      -50        20      -120

In [22]:
# Define a new variable based on a selection
roulette_selection_vector <- roulette_vector[2:5]

In [23]:
# Select poker results for Monday, Tuesday and Wednesday
poker_start <- poker_vector[c("Monday","Tuesday","Wednesday")]

# Calculate the average of the elements in poker_start
mean(poker_start)

[1] 36.66667

In [24]:
# Which days did you make money on poker?
selection_vector <- poker_vector >0
  
# Print out selection_vector
selection_vector

   Monday   Tuesday Wednesday  Thursday    Friday
     TRUE     FALSE      TRUE     FALSE      TRUE

In [1]:
# Which days did you make money on poker?
selection_vector <- poker_vector > 0

# Select from poker_vector these days
poker_winning_days <- poker_vector[selection_vector]

#### Working with Matrices

In [2]:
# Construct a matrix with 3 rows that contain the numbers 1 up to 9
matrix(1:9, byrow = TRUE, nrow = 3)

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 4    5    6
[3,] 7    8    9

In [3]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Create box_office
box_office <- c(new_hope, empire_strikes, return_jedi)

# Construct star_wars_matrix
star_wars_matrix <- matrix(box_office, byrow = TRUE, nrow = 3)

In [4]:
star_wars_matrix

     [,1]    [,2]
[1,] 460.998 314.4
[2,] 290.475 247.9
[3,] 309.306 165.8

In [12]:
# Box office Star Wars (in millions!)
new_hope <- c(460.998, 314.4)
empire_strikes <- c(290.475, 247.900)
return_jedi <- c(309.306, 165.8)

# Construct matrix
star_wars_matrix <- matrix(c(new_hope, empire_strikes, return_jedi), nrow = 3, byrow = TRUE)

# Vectors region and titles, used for naming
region <- c("US", "non-US")
titles <- c("A New Hope", "The Empire Strikes Back", "Return of the Jedi")

# Name the columns with region
colnames(star_wars_matrix) <- region

# Name the rows with titles
rownames(star_wars_matrix) <- titles

# Print out star_wars_matrix
star_wars_matrix

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [21]:
# Construct star_wars_matrix
box_office <- c(460.998, 314.4, 290.475, 247.900, 309.306, 165.8)
region <- c("US", "non-US")
titles <- c("A New Hope", 
                 "The Empire Strikes Back", 
                 "Return of the Jedi")
               
star_wars_matrix2 <- matrix(box_office, 
                      nrow = 3, byrow = TRUE,
                      dimnames = list(titles, region))

# Calculate worldwide box office figures
worldwide_vector <- rowSums(star_wars_matrix)

# Bind the new variable worldwide_vector as a column to star_wars_matrix
all_wars_matrix <- cbind(star_wars_matrix, worldwide_vector)

In [22]:
worldwide_vector

             A New Hope The Empire Strikes Back      Return of the Jedi
                775.398                 538.375                 475.106

In [23]:
all_wars_matrix

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

In [24]:
# list all the valiables
ls()

 [1] "all_wars_matrix"    "all_wars_matrix1"   "box_office"
 [4] "days_vector"        "empire_strikes"     "new_hope"
 [7] "poker_vector"       "poker_winning_days" "region"
[10] "return_jedi"        "roulette_vector"    "selection_vector"
[13] "star_wars_matrix"   "star_wars_matrix2"  "titles"
[16] "worldwide_vector"

In [25]:
all_wars_matrix1 <- rbind(star_wars_matrix, star_wars_matrix2)

In [29]:
all_wars_matrix1

                        US      non-US
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8
A New Hope              460.998 314.4
The Empire Strikes Back 290.475 247.9
Return of the Jedi      309.306 165.8

In [30]:
# colSums

In [27]:
total_revenue_vector <- colSums(all_wars_matrix)

In [28]:
total_revenue_vector

              US           non-US worldwide_vector
        1060.779          728.100         1788.879

In [32]:
# all_wars_matrix is available in your workspace
all_wars_matrix

# Select the non-US revenue for all movies
non_us_all <- all_wars_matrix[,2]
non_us_all
# Average non-US revenue
mean(non_us_all)
  
# Select the non-US revenue for first two movies
non_us_some <- non_us_all[1:2]
non_us_some
# Average non-US revenue for first two movies
mean(non_us_some)

                        US      non-US worldwide_vector
A New Hope              460.998 314.4  775.398
The Empire Strikes Back 290.475 247.9  538.375
Return of the Jedi      309.306 165.8  475.106

             A New Hope The Empire Strikes Back      Return of the Jedi
                  314.4                   247.9                   165.8

[1] 242.7

             A New Hope The Empire Strikes Back
                  314.4                   247.9

[1] 281.15

In [33]:
# all mathematical operations happen at an element level

##### Levels and their manipulation